.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.layout-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.layout-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: var(--bg-secondary);
  height: 100vh;
  width: 100%;
}

.home-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.home-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  width: 100%;
  height: 100%;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
