.header {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-menu);
  padding: 0 20px;
  height: 96px;
  min-height: 96px;
  transition: min-height 0.3s;
}

.header-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.left-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

button.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  padding: 6px;
  border-radius: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menu-icon {
  width: 20px;
  height: 20px;
  color: var(--text-default);
}

.menu-button:hover {
  background-color: var(--link-hover-bg);
}

.right-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 16px;
}

.presentation-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

button.presentation-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  background-color: var(--bg-main);
  height: 40px;
  width: 40px;
}

.presentation-icon {
  width: 20px;
  height: 20px;
  color: var(--text-default);
}

button.presentation-button:hover {
  background-color: var(--link-hover-bg);
}

.profile-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

button.profile-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  gap: 8px;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  border-radius: 50%;
  width: 56px;
  height: 56px;
  transition: 0.2s cubic-bezier(0, 0.5, 0.5, 1);
  border: 0.225rem solid var(--text-default);
}

.profile:hover {
  transform: scale(1.05);
}

.profile-logo {
  font-size: 1.5rem;
  color: #ffffff;
  margin: 0;
}

.menu-item {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  padding: 12px 8px 12px 12px !important;
  color: var(--text-default);
  font-size: 14px !important;
  font-family: var(--font-inter) !important;
  border-radius: 4px !important;
  background-color: var(--bg-main) !important;
  width: 100% !important;
}

.menu-item:hover {
  background-color: var(--link-hover-bg) !important;
}

.menu-item:last-child {
  border-top: 1px solid var(--border-default);
}
