.header {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-main);
  padding: 0 20px;
  height: 5.5rem;
  min-height: 5.5rem;
  transition: min-height 0.3s;
  border-bottom: 1px solid var(--border-default);
}

.header-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.left-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  height: 100%;
}

.nav-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
}

.nav-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--text-default);
  padding: 8px;
}

.nav-item a span {
  font-size: 1rem;
  font-weight: 500;
}

.right-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 32px;
}

.profile-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.profile-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 100%;
}

.profile-section a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-presenter);
  border-radius: var(--border-radius-full);
  width: 56px;
  height: 56px;
  transition: 0.2s cubic-bezier(0, 0.5, 0.5, 1);
  border: 0.225rem solid var(--text-default);
}

.profile:hover {
  transform: scale(1.05);
}

.profile-initials {
  font-size: 1.5rem;
  color: #ffffff;
  margin: 0;
}
